/* test/cases/scss/a.scss */
.box {
  border-radius: red; }

/* test/cases/scss/b.scss */
.box {
  border-radius: red; }

/* test/cases/scss/c.scss */
.box {
  border-radius: red; }

/* test/cases/scss/d.scss */
.box {
  border-radius: red; }
