/* test/cases/sass/a.sass */
.box {
  border-radius: red; }

/* test/cases/sass/b.sass */
.box {
  border-radius: red; }

/* test/cases/sass/c.sass */
.box {
  border-radius: red; }

/* test/cases/sass/d.sass */
.box {
  border-radius: red; }
